<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Softclose</string>
	<key>CFBundleExecutable</key>
	<string>Softclose</string>
	<key>CFBundleIconFile</key>
	<string>Softclose</string>
	<key>CFBundleIdentifier</key>
	<string>io.github.matejcok1234.softclose</string>
	<key>CFBundleName</key>
	<string>Softclose</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Softclose</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://matejcok1234.github.io/Softclose/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>sP3LnG5zAd7PXDm7NNWucmYMFGB6h60o7MaXv1o0Gi4=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
</dict>
</plist>
